<!DOCTYPE html>
<html lang="en">
{{partial "head" .}}
<body>
    
    <header class="soon py-5">
        <div class="container d-flex h-100 align-items-center">
          <div class="mx-auto text-center">
              <img src="/images/logo2.png" class="img-fluid2" alt="Prabhat logo">
            <h1 class="mx-auto my-2">Prabhat</h1>
            <h2 class="text-white mx-auto my-2"style="font-size:2rem" >The Temple of Art</h2>
            <h3 class="mx-auto my-5" style="color: #bca227">We are rebuilding our new site</h3>
            <a href="#footer" class="btn btn-primary js-scroll-trigger mb-3">Contact Prabhat</a>
            
          </div>
        </div>
      </header>
      <section>
          <div class="iframe-container">
              <iframe src="https://www.youtube.com/embed/0diKzgDCgIo?vq=hd1080&autoplay=1&rel=0&cc_load_policy=1&iv_load_policy=3" width="560" height="315" frameborder="0"></iframe>
            </div>
      </section>
      <!-- Contact Section -->
      <section class="contact-section pt-5" id="footer" style="background:linear-gradient(to bottom, rgba(22, 22, 22, 0.3) 0%, rgba(22, 22, 22, 0.33) 75%), url(../images/train13.jpg);background-position: center;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: cover; ">
          <div class="container">
              <div class="row">
                  
                  <div class="col-md-12 mb-3 mb-md-0">
                      <div class="card py-4 h-100">
                          <div class="card-body text-center">
                              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">Address</h4>
                              <hr class="my-4">
                              <div class="text-black">17, 5-A main, Obalappa Garden, KR road, Bangalore, KA - 560 070</div>
                              <i class="fas fa-envelope text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">Email</h4>
                              <hr class="my-4">
                              <div class="text-black-50">
                                  <a href="mailto:sharatrprabhath@gmail.com" target="_top">sharatrprabhath@gmail.com</a>
                              </div>
                              <i class="fas fa-mobile-alt text-primary mb-2"></i>
                              <h4 class="text-uppercase m-0">Phone</h4>
                              <hr class="my-4">
                              <div class="text-black-50"><a href="tel:+919986881281">91-9986881281</a></div>
                          </div>
                      </div>
                  </div>
              </div>
              
          </div>
      </section>
      <!-- Footer -->
      <footer class="bg-black small text-center text-white">
          <div class="container">
              <h6>Made with <i class="fas fa-heart"></i>&nbsp;by <a href="https://www.tensketch.com/" class="href-a"
                      aria-label="TenSketch link">TenSketch</a><br><br>Copyright &copy; Prabhat 2019</h6>
          </div>
      </footer>
    
    {{partial "scripts" .}}
</body>
</html>