<!-- Contact Section -->
<section class="bg-black" id="footer">
    <div class="container">
       
        <div class="row pt-5">
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-link text-primary mb-2"></i>
                        <h4 class="m-0">links</h4>
                        <hr class="my-3">
                        <div class="text-black-50">
                            <ul class="list-unstyled">
                                <li><a href="{{.Site.BaseURL}}">Home</a></li>
                                <li class="my-1"><a href="{{.Site.BaseURL}}about/about_prabhat/">About us</a></li>
                                <li><a href="{{.Site.BaseURL}}repertoire/home/">Our Repertoire</a></li>
                                <li class="my-1"><a href="{{.Site.BaseURL}}training/home/">Training</a></li>
                                <li><a href="https://www.sharatprabhath.com/">Harikatha</a></li>
                                <li class="my-1"><a href="{{.Site.BaseURL}}costumes/home/">Costumes</a></li>
                                <li><a href="{{.Site.BaseURL}}gallery/home/">Gallery & Media</a></li>
                                <li class="mt-1"><a href="{{.Site.BaseURL}}join-prabhat/register/">Register a course</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fab fa-pagelines text-primary mb-2"></i>
                        <h4 class="m-0">Network</h4>
                        <hr class="my-3">
                        <ul class="list-unstyled">
                            <li><a href="https://www.padapa.in/">PADAPA</a></li>
                            <li class="my-1"><a href="https://www.sharatprabhath.com/">Sharat R Prabhath</a></li>
                            <li><a href="https://www.prabhathauditoriums.com">Prabhat Auditoriums</a></li>
                            <li class="my-1"><a href="http://www.prabhathstudios.com/">Prabhat Sound Studio</a></li>
                            <li><a href="http://www.prabhathstage.com/">Prabhat Lighting and Sound System</a></li>
                            <li class="my-1"><a href="http://artoholic.co.in/">Prabhath Event Managers</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
                <div class="card py-4 h-100">
                    <div class="card-body text-center">
                        <i class="fas fa-map-marked-alt text-primary mb-2"></i>
                        <h4 class="m-0">Address</h4>
                        <hr class="my-3">
                        <div class="text-black mb-2">17, 5-A main, Obalappa Garden, KR road, Bangalore, KA - 560 070</div>
                        <i class="fas fa-envelope text-primary mb-2"></i>
                        <h4 class="m-0">Email</h4>
                        <hr class="my-3">
                        <div class="text-black-50 mb-2">
                            <a href="mailto:info@prabhatha.com" target="_top">info@prabhatha.com</a>
                        </div>
                        <div class="text-black-50 mb-2">
                                <a href="mailto:sharatrprabhath@gmail.com" target="_top">sharatrprabhath@gmail.com</a>
                            </div>

                        <i class="fas fa-mobile-alt text-primary mb-2"></i>
                        <h4 class="m-0">Phone</h4>
                        <hr class="my-3">
                        <div class="text-black-50">
                            <a href="tel:+919986881281">91-9986881281</a>
                        </div>
                        <div class="text-black-50">
                                <a href="tel:+919886576659">91-9886576659</a>
                            </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="social d-flex mt-5 justify-content-center">
                <a href="https://www.youtube.com/channel/UCJ7X3mbP2srKzgibYhw9Hrg" target="_blank" rel="noopener" class="mx-2">
                    <i class="fab fa-youtube fa-2x"></i>
                </a>
                <a href="https://www.facebook.com/PrabhathaDotCom" target="_blank" rel="noopener" class="mx-2">
                    <i class="fab fa-facebook-f fa-2x"></i>
                </a>
                <!-- <a href="#" class="mx-2">
                    <i class="fab fa-github fa-2x"></i>
                </a> -->
            </div>
    </div>
</section>
<!-- Footer -->
<footer class="bg-black small text-center text-white">
    <div class="container">
        <h6>Made with <i class="fas fa-heart"></i>&nbsp;by <a href="https://www.tensketch.com/" target="_blank" rel="noopener" aria-label="TenSketch link">TenSketch</a><br><br>Copyright &copy; Prabhat 2019</h6>
    </div>
</footer>